@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />


<NavBarComp></NavBarComp>
<SideBarCmp></SideBarCmp>
<main id="main" class="main">
    @Body
</main><!-- End #main -->



