@page "/queryAllUser"
<PageTitle>Users</PageTitle>

@if (userList == null || userList.Count() == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="section">
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title" style="margin-left:16px;">All users</h5>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-top:10px;">
                            <RadzenDataGrid AllowFiltering="true"
                                        AllowColumnResize="true"
                                        AllowAlternatingRows="false"
                                        FilterMode="Radzen.FilterMode.Advanced"
                                        AllowSorting="true"
                                        PageSize="10"
                                        AllowPaging="true"
                                        PagerHorizontalAlign="HorizontalAlign.Left"
                                        ShowPagingSummary="true"
                                        Data="@userList"
                                        TItem="UserBasicData"
                                        ColumnWidth="300px"
                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                                <Columns>
                                    <RadzenDataGridColumn TItem="UserBasicData"
                                                      Property="UserBasicData.Id"
                                                      Title="ID"
                                                      Width="200px" Visible=false />

                                    <RadzenDataGridColumn TItem="UserBasicData"
                                                      Property="UserBasicData.DisplayName"
                                                      Title="DisplayName"
                                                      Width="200px" />

                                    <RadzenDataGridColumn TItem="UserBasicData"
                                                      Property="UserBasicData.Email"
                                                      Title="Email"
                                                      Width="200px" />

                                    <RadzenDataGridColumn TItem="UserBasicData"
                                                      Property="UserBasicData.UserPrincipalName"
                                                      Title="UserPrincipalName"
                                                      Width="200px" />


                                </Columns>
                            </RadzenDataGrid>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
}
